---
import Layout from "../layouts/Layout.astro";
---

<Layout title="damianmichalik.pl">
  <div class="flex items-center justify-center min-h-screen">
    <h1 class="text-5xl font-extrabold bg-gradient-to-br from-indigo-400 to-purple-400 bg-clip-text text-transparent">
      damianmichalik.pl
    </h1>
  </div>
</Layout>
